<%=  decidim_form_for(@form, url: participation_participation_answer_path(participation, @form), html: { class: "form edit_participation_answer" }) do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t ".title", title: participation.title %></h2>
    </div>

    <div class="card-section">
      <div class="row column">
        <h2>Contenu de la participation</h2>
        <p><%= participation.body %></p>
      </div>

      <div class="row column">
        <%= f.translated :editor, :answer, autofocus: true, rows: 15 %>
      </div>

      <% if @moderator_view %>
      <div class="row column">
        <%= f.collection_radio_buttons :state, [["retained", t('.retained')], ["incomplete", t('.incomplete')]], :first, :last, prompt: true, input_html: { name: 'wecanhidejustification' }  %>
      </div>
      
      <div class="row column" id="justification_field">
        <%= f.fields_for :moderation do |fm| %>
          <%=fm.text_field :justification %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= f.submit t(".answer_participation") %>
  </div>
<% end %>

<script type="text/javascript">
$('participation_answer_state_retained').change(function() {
  if (this.value == "retained") {
    $('div#justification_field').hide()
  }
  else if (this.value == "incomplete") {
    $('div#justification_field').show()
  }
});
</script>