<%=  decidim_form_for(@form, url: participation_participation_answer_path(participation, @form), html: { class: "form edit_participation_answer" }) do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t ".title", title: participation.title %></h2>
    </div>

    <div class="card-section">
      <div class="row column">
        <h2><%= t ".title_content" %></h2>
        <p><%= simple_format participation.body %></p>
      </div>

      <div class="row column">
        <%= f.translated :editor, :answer, autofocus: true, rows: 15 %>
        <%= f.hidden_field :the_recipient_role, :value => participation.recipient_role %>
      </div>

      <% if can? :manage, participation and not @cpdp_to_cpdp %>
        <div class="row column">
          <%= f.collection_radio_buttons :state, [["accepted", t('.accepted')], ["incomplete", t('.incomplete')]], :first, :last, prompt: true %>
        </div>

        <div class="row column" id="justification_field">
          <%= f.fields_for :moderation do |fm| %>
            <%=fm.text_field :justification %>
            <%=fm.hidden_field :on_the_answer_page, :value => "yes" %>

          <% end %>
        </div>
      <% elsif can? :manage, participation and @cpdp_to_cpdp %>
        <%= f.hidden_field :state, :value => "accepted" %>
      <% end %>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <% if can? :manage, participation %>
      <%= f.submit t(".publish") %>
    <% else %>
      <%= f.submit t(".answer_participation") %>
    <%end%>
  </div>
<% end %>

<script type="text/javascript">
  $('#justification_field').hide();
  $('input[name="participation_answer[state]"]').change(function() {
    var a = $('input[name="participation_answer[state]"]:checked').val();
    if (a == "incomplete") {
      $('#justification_field').show(500);
      $('#participation_answer_moderation_justification').attr("required", "true");
    } else {
      $('#justification_field').hide();
      $('#participation_answer_moderation_justification').removeAttr("required");
    }
  })
</script>