<%= filter_form_for filter do |form| %>
  <div class="filters__section">
    <div class="filters__search">
      <div class="input-group">
        <%= form.search_field :search_text, label: false, class: "input-group-field", placeholder: t('.search') %>
        <div class="input-group-button">
          <button type="submit" class="button button--muted">
            <%= icon "magnifying-glass", aria_label: t('.search') %>
          </button>
        </div>
      </div>
    </div>
  </div>

   <% if feature_settings.official_participations_enabled %>
    <%= form.collection_radio_buttons :participation_type, [["all", t('.all')], ["questions", t('.questions')], ["contributions", t('.contributions')], ["opinions", t('.opinions')]], :first, :last, legend_title: t('.participation_type') %>
  <% end %>

  <% if feature_settings.official_participations_enabled %>
    <%= form.collection_radio_buttons :state, [["all", t('.all')], ["accepted", t('.accepted')], ["waiting_for_answer", t('.waiting_for_answer')]], :first, :last, legend_title: t('.state') %>
  <% end %>

  <% if linked_classes_for(Decidim::Participations::Participation).any? %>
    <%= form.collection_radio_buttons :related_to, linked_classes_filter_values_for(Decidim::Participations::Participation), :first, :last, legend_title: t('.related_to') %>
  <% end %>

  <% if current_participatory_space.has_subscopes? %>
    <%= scopes_picker_filter form, :scope_id %>
  <% end %>

  <% if current_feature.categories.any? %>
    <%= form.categories_select :category_id, current_feature.categories, legend_title: t('.category'), disable_parents: false, label: false, prompt: t('.category_prompt') %>
  <% end %>

  <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
<% end %>
