<div class="column">
  <article class="card card--participation">
    <div class="card__content">
      <div class="card__header">
        <%= link_to participation do%>
          <h5 class="card__title"><%= participation.title %></h5>
        <% end %>
        <div class="card__author author-data author-data--small">
          <%= render partial: "decidim/shared/author_reference", locals: { author: present(participation).author } %><%= t(".creation_date_lite", date: l(participation.created_at, format: :decidim_short)) %>
        </div>
        <%= feature_reference(participation, class: "tech-info--text-left") %>
      </div>
      <%= render partial: "participation_badge", locals: { participation: participation } %>
      <p><%= truncate(participation.body, length: 100) %></p>
      <%= render partial: "decidim/shared/tags", locals: { resource: participation, tags_class_extra: "tags--participation" } %>
    </div>
    <div class="card__footer">
      <div class="card__support">
          <div class="card__support__data"></div>
          <% if participation.participation_type == "question" %>
            <%= link_to t(".view_question"), participation, class: "card__button button small" %>
          <% elsif participation.participation_type == "contribution" %>
            <%= link_to t(".view_contribution"), participation, class: "card__button button small secondary" , style: "color: white" %>
          <% elsif participation.participation_type == "opinion" %>
            <%= link_to t(".view_opinion"), participation, class: "card__button button small", style: "background-color: #8C838A" %>
          <% else %>
            <%= link_to t(".view_participation"), participation, class: "card__button button small warning" %>
          <% end%>
      </div>
    </div>
  </article>
</div>
