<p><%= @event_instance.email_greeting %></p>

<p><%= @event_instance.email_intro %></p>
<div class="email-card">
  <p><%= @justifcation %></p>
</div>
<p>
  <%= @event_instance.action_url %>
</p>
<div class="email-card">
  <p><%= @participation.original_body %></p>
</div>