<p><%= @event_instance.email_greeting %></p>

<p><%= @event_instance.email_intro %></p>
<div class="email-card">
  <p><%= @event_instance.justification %></p>
</div>

<p><%= @event_instance.participation_intro %>
<div class="email-card">
  <p><%= @event_instance.participation_content %></p>
</div>