<script type="text/javascript">
if (typeof jQuery.ui === 'undefined') {
  console.log(" jQuery is NOT available")
} else {
  console.log("jQuery is available")
}
 $("#participation_body").change(function(){
    $("#participation_moderation_justification").attr("required", "true");
    $(".notify").css("display", "flex")
    $(".publish").css("display", "none")
 })
</script>

<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= @form.body.truncate(50) %></h2>
  </div>
  <br/>
  <div class="card-section">
    <%=  decidim_form_for(@form, html: { class: "form edit_participation" }, method: "put") do |f| %>
      <div class="card">
        <div class="card-divider">
          <h2 class="card-title"><%= t(".qualification") %></h2>
        </div>
        <br/>
        <div class="card-section">
          <div class="row column">
            <%= f.fields_for :moderation do |fm| %>
              <%= fm.radio_button :upstream_moderation, "authorized", label: t(".accepted"), require: true, checked: @participation.publishable? %>
              <%= fm.radio_button :upstream_moderation, "refused", label: t(".refused"), require: true, checked: @participation.refused? %>
            <% end %>
          </div>

          <% if @form.categories&.any? %>
            <div class="row column">
              <%= f.categories_select :category_id, @form.categories, prompt: t(".select_a_category") %>
            </div>
          <% end %>
          <div class="row column">
            <%= f.select :participation_type, options_for_select([[t(".question"), "question"], [t(".opinion"), "opinion"], [t(".contribution"), "contribution"]], @participation.type), label: t(".fields.type") %>
          </div>

          <div class="row column" id="recipient_role_container">
            <label for="recipient_role"><%= t('.recipient_role') %> <abbr>*</abbr><br />

             <%= f.collection_radio_buttons :recipient_role, participation_roles, :first, :last, prompt: true %>
            </label>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-divider">
          <h2 class="card-title"><%= t(".content") %></h2>
        </div>
        <br/>
        <div class="card-section">
          <div class="row column">
            <h6 class="heading6 bold"><%= t(".original") %></h6>
            <%= @form.body%>
          </div>
          <br/>

          <div class="row column">
            <%=f.text_area :body, rows: 10, label: false %>
          </div>

          <div class="row column">
            <%= f.fields_for :moderation do |fm| %>
              <%=fm.text_field :justification %>
            <% end %>
          </div>

<!--           <div class="button--double form-general-submit notify hidden">
            </%= f.submit t(".notify") %>
          </div>
 -->
          <div class="button--double form-general-submit publish">
            <%= f.submit t(".publish") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('document').ready(function(){
    var shouldHideRecipientRole = <%= (@form.participation_type != "question") %>;
    if(shouldHideRecipientRole) {
      $('#recipient_role_container').hide();
    }
    $('#participation_participation_type').change(function() {
      var type = $('#participation_participation_type').val();
      console.log(type)
      if (type == "question") {
        $('#recipient_role_container').show(500);
        } else {
        $('#recipient_role_container').hide();
        }
    })
  });
</script>
